.login-body {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
}

.login-logo {
    height: 200px;
    margin-bottom: 30px;
}

.login-text {
    font-size: 20px;
    color: red;
    height: 20px;
    padding-top: 10px;
}

.site-container {
    padding-left: 5px;
    height: 50px;
    width: 320px;
    margin-bottom: 30px;
    font-size: 15px;
}

.login-input-group {
    display: flex;
    flex-direction: row;
    width: 320px;
    height: 50px;
    margin-bottom: 25px;
}

.login-input-group-prepend {
    display: flex;
    width: 50px;
    height: 100%;
    background-color: #F58634;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid #F58634;
    margin-right: -1px;
    align-items: center;
    justify-content: center;
}

.icon-input {
    height: 25px;
    width: 25px;
    color: white;
}

.login-form-control {
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    
    border: 1px solid #888;
    border-left-color: #F58634;
    outline: none;
}

.login-form-control:focus {
    border-color: #F58634;
}


.login-button {
    color: white;
    font-size: 20px;
    text-align: center;
    width: 320px;
    border: 0px;
    border-radius: 8px;
    padding: 15px;
    font-family: Roboto;
    background-color: #F58634;
    margin-top: 40px;
    cursor: pointer;
}

@media screen and (max-width: 330px) {
    .login-logo {
        height: 170px;
        margin-bottom: 20px;
    }

    .login-input-group {
        height: 40px;
        width: 270px;
    }

    .login-input-group-prepend {
        width: 40px;
    }

    .icon-input {
        height: 22px;
        width: 22px;
    }

    .login-form-control {
        font-size: 18px;
    }

    .login-text {
        font-size: 18px;
        height: 20px;
    }

    .login-button {
        font-size: 18px;
        width: 270px;
        padding: 12px;
        margin-top: 30px;
    }
}