@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.main-resbar {
  display: none;
  position: absolute;
  flex-direction: column;
  color: #C2C7CC;
  background: #343A40;
  height: 100vh;
  transform: translateX(-100%);
  transition: all 0.4s;
  top: 0;
  left: 0;
  z-index: 20;
}
.main-resbar-show {
  transform: translateX(0%);
}
.brand-link-resbar {
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 5px;
  cursor: pointer;
  height: 50px;
  min-height: 50px;
  border-bottom: 1px solid #666;
}

.logo-resbar {
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  margin-left: 7px;
}
.name-resbar {
  display: flex;
  font-size: 22px;
  color: white;
  
}

.resbar {
  width: 180px;
  padding: 0px 6px;
  color: #C2C7CC;
  height: 100vh;
}

.resbar-show {
  transform: translateX(0%);
}

.link {
  display: flex;
  color: #C2C7CC;
  padding: 7px 10px;
  gap: 10px;
  transition: all 0.5s;
  border-radius: 5px;
  margin-top: 10px;
}

.link:hover {
  background: #494E53;
  color: #fff;
  transition: all 0.5s;
}

.active {
  background: white;
  color: #343A40;
}

.icon {
  font-size: 19px;
  margin-left: 4.5px;
}

.link-text {
  font-size: 16px;
  top: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
  /* font-weight: 600; */
  display: inline-block;
}
.link-text-mini {
  display: none;
}

@media screen and (max-width: 700px) {
  .main-resbar{
    display: flex;
  }
}
